<footer>
  <div class="footer-top d-flex p-5 justify-content-between">
    <div class="footer-top-about-us sobre-nosotros">
      <h5 class="fw-bolder mb-4">Sobre nosotros</h5>
      <div style="font-size: 14px">
        <span
          >Somos EL ROMANO y nos especializamos desde el 1ro de octubre de 1992
          a la comercializacion de libros y articulos de librería.</span
        >
        <div class="d-flex flex-column gap-1 mt-4">
          <span style="color: #fff; font-size: 12px"
            ><i class="fa-solid fa-phone" style="color: rgb(255, 0, 0)"></i>
            (+5411) 4480-8900</span
          >
          <span style="color: #fff; font-size: 12px"
            ><i class="fa-solid fa-envelope" style="color: rgb(255, 0, 0)"></i>
            alumnos@unlam.edu.ar</span
          >
          <span style="color: #fff; font-size: 12px"
            ><i
              class="fa-solid fa-location-dot"
              style="color: rgb(255, 0, 0)"
            ></i>
            San Justo, Buenos Aires, Argentina</span
          >
        </div>
      </div>
    </div>
    <div class="footer-top-about-us ps-5 footer-servicio">
      <h5 class="fw-bolder mb-4">Servicio</h5>
      <div class="d-flex flex-column gap-2">
        <a>Mi cuenta</a>
        <a>Carrito</a>
        <a>Favoritos</a>
        <a>Pagar orden</a>
        <a>Ayuda</a>
      </div>
    </div>
    <div class=" footer-top-about-us">
      <h5 class="fw-bolder mb-4">Información</h5>
      <div class="d-flex flex-column gap-2">
        <a>Sobre nosotros</a>
        <a>Contacto</a>
        <a>Politicas de privacidad</a>
        <a>Terminos y condiciones</a>
        <a style="cursor: pointer" (click)="loginAdmin()">Administrador</a>
      </div>
    </div>
    <div class=" footer-top-about-us redes-pagos">
      <h5 class="fw-bolder mb-4">NUESTRAS REDES</h5>
      <div class="d-flex gap-3 redes">
        <a><i class="fa-brands fa-facebook-f fa-lg"></i></a>
        <a><i class="fa-brands fa-twitter fa-lg"></i></a>
        <a><i class="fa-brands fa-instagram fa-lg"></i></a>
        <a><i class="fa-brands fa-youtube fa-lg"></i></a>
        <a><i class="fa-brands fa-pinterest-p fa-lg"></i></a>
        <a><i class="fa-brands fa-reddit-alien fa-lg"></i></a>
        <a><i class="fa-brands fa-tiktok fa-lg"></i></a>
      </div>
      <div
        class="footer-payments d-flex flex-wrap py-2 gap-3 mt-3 border-top pt-4"
      >
        <i class="fa-brands fa-cc-visa fa-2x"></i>
        <i class="fa-brands fa-cc-mastercard fa-2x"></i>
        <i class="fa-brands fa-cc-apple-pay fa-2x"></i>
        <i class="fa-brands fa-cc-paypal fa-2x"></i>
        <i class="fa-brands fa-cc-amex fa-2x"></i>
        <i class="fa-brands fa-google-pay fa-2x"></i>
        <i class="fa-brands fa-cc-amazon-pay fa-2x"></i>
        <i class="fa-brands fa-cc-diners-club fa-2x"></i>
      </div>
    </div>
  </div>
  <div class="px-5 footer-botton bg-dark col-md-12 text-center py-2">
    <span> Copyright &copy; || Taller Web II || UNLAM </span>
  </div>
</footer>
