<header>
  <div
    class="bg-dark header-top px-5 py-1 d-flex justify-content-between align-items-center"
    style="width: 100%"
  >
    <div class="d-flex gap-3 header-top-contact">
      <span style="color: #fff; font-size: 12px">
        <i class="fa-solid fa-phone" style="color: rgb(255, 0, 0)"></i>
        (+5411) 4480-8900
      </span>
      <span style="color: #fff; font-size: 12px">
        <i class="fa-solid fa-envelope" style="color: rgb(255, 0, 0)"></i>
        alumnos@unlam.edu.ar
      </span>
      <span style="color: #fff; font-size: 12px">
        <i class="fa-solid fa-location-dot" style="color: rgb(255, 0, 0)"></i>
        San Justo, Buenos Aires, Argentina
      </span>
    </div>
    <div class="d-flex gap-3 align-items-center header__login">
      <div
        *ngIf="!estaLogueado()"
        class="header__login d-flex align-items-center"
      >
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#modalLogin"
          style="color: #fff"
        >
          LogIn
          <i class="fa-solid fa-right-to-bracket"></i>
        </button>
        <a
          href="/registrar"
          rel="noopener noreferrer"
          class="fw-bolder"
          style="color: #fff"
        >
          SignUp
          <i class="fa-solid fa-user-plus"></i>
        </a>
      </div>
      <div
        *ngIf="estaLogueado()"
        class="d-flex align-items-center header__login"
      >
        <span class="fw-bolder text-light">Hola: {{ userName }}</span>
        <button
          type="button"
          class="btn"
          style="color: #fff"
          (click)="logOut()"
        >
          LogOut
          <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </div>
      <!-- login -->
      <div class="modal-login">
        <app-login-usuario></app-login-usuario>
      </div>
      <!--end login -->
    </div>
  </div>
  <div class="header-botton px-5">
    <div class="d-flex align-items-center py-3 header-botton-info">
      <div
        class="logotipo d-flex gap-2 align-items-center"
        style="filter: invert(100%)"
      >
        <img src="../../../assets/imagenes/iso.png" alt="isotipo" width="30" />
        <a href="/">
          <img
            width="180"
            src="https://fontmeme.com/permalink/221001/e8000a6afc66936e040a5d1e9a070f90.png"
            alt="fuente-uncial-antiqua"
          />
        </a>
      </div>
      <div class="m-auto header-botton__search">
        <form class="input-group my-3">
          <button
            style="border-radius: 60px 0 0 60px"
            class="btn btn-light dropdown-toggle border border-0"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ categoria }}
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/">
                Todos los productos
              </a>
            </li>
            <div *ngFor="let categoria of categorias">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="/categoria/{{ categoria.id }}"
                  >{{ categoria.nombre }}</a
                >
              </li>
            </div>
          </ul>
          <input
            style="border: 2px solid rgb(255, 255, 255)"
            type="text"
            class="form-control"
            aria-label="Text input with dropdown button"
            placeholder="Buscar producto"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasTop"
            aria-controls="offcanvasTop"
          />
          <button
            style="border-radius: 0 60px 60px 0"
            class="btn btn-danger fw-bolder"
            type="submit"
            aria-label="Text input with dropdown button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasTop"
            aria-controls="offcanvasTop"
          >
            Buscar
          </button>
        </form>
      </div>
      <div
        class="d-flex gap-3 text-light align-items-center header-botton__cart"
      >
        <!-- <span
          >Favoritos <i class="fa-solid fa-heart"></i
          ><span class="fav-count">4</span></span
        > -->

        <span style="color: #fff">
          <span class="carrito" routerLink="/carrito">Carrito</span>
          <app-cart-cantidad></app-cart-cantidad>
        </span>
      </div>
    </div>
  </div>
</header>

<div
  class="offcanvas offcanvas-top"
  tabindex="-1"
  id="offcanvasTop"
  aria-labelledby="offcanvasTopLabel"
  style="height: 90vh; padding: 0px 3vw"
>
  <app-search></app-search>
</div>
